* {
    box-sizing: border-box;
}

div {
    border: 3px solid yellow;

    margin-top: 5px;
    margin-bottom: 5px;
    background-color: yellowgreen;
}

.puse {
    display: inline-block;
    width: 49%;
}

.per-visa {
    display: block; /* nebūtina, nes ir taip divai block*/
    width: 100%; /* nebūtina, nes blockiniai ir taip 100% jei nepakeista į mažesnį */
    height: 100px;
}

.per-puse {
    display: inline-block;
    width: 45%;
    height: 250px;
    margin-right: calc(100% - 45% - 45% - 1%);
}

.soniniai {
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 0px;
}

.apgaubiamas {
    display: inline-block;
    width: 45%;
    height: 250px;
    vertical-align: top;
    background-color: white;
    border: 0px;
}



.paraste-tarpas {
    margin-top: calc(250px - 100px - 100px);        /* galima susiskaičiuoti ir patiems ir tiesiog parašyti 50px vietoj calc() */
}

